
A:link {color: grey}
A:visited, A:active {color: green}
A:hover {text-decoration: overline; color: Teal}
	
Body {
	background-color: white;
	font-family: cambria;
	color: black	
	}

Nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: sticky;
	width: 100%;
	top: 0;
}

A.navlink{
	float: left;
	display: block;
	padding: 5px 5px;
	color: white;
	text-align: center;
}

H1 {font-size: 50pt; text-align: right}
H2 {font-size: 25pt; text-align: right}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; font-family: monospace}

Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	background-color: green;
	margin: .8em;
	border-color: darkgreen}


Form {
	font-family: monospace; 
	text-align: center; 
	color: white; 
	background-color: green}



Img{
	border-radius: 1em;
	border-color: black;
	border-width: 1em;
	border-style: solid;
	padding: .5em;
}


