
A:link {color: white}
A:visited, A:active {color: green}
A:hover {text-decoration: overline; color: darkgreen}
	
Body {
	background-color: white;
	font-family: cambria;
	color: black;
	background-image: linear-gradient(to right, lightslategrey, lightgreen );
}

H1 {font-size: 50pt; text-align: center}
H2 {font-size: 25pt; text-align: center}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; 
	font-family: monospace; 
	color: black;
	padding: 1em;}

Table {
	width: 400px; 
	font-family: monospace; 
	color: black; 
	margin: .8em;
	border: white solid .5em;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	position: static;
	}


Form {
	font-family: monospace; 
	text-align: left; 
	color: white; 
	background-color: #333;
	width: 100%
	}

Nav{
	overflow: hidden;
	background-color: black;
	position: sticky;
	width:100%;
	top: 0
}

A.navlink{
	float: left;
	display: block;
	padding: 5px 5px;
	color: white;
	text-align: center;
	font-size: 3vw
}

Img{
	margin: 0;
	max-width: 75%;
	height: auto;
	padding: .5em;
	border-color: white;
	border-width: .5em;
	border-style: solid;
	border-radius: 1em
}

input[type=text]{
	width: 98%;
	padding: 12px 20px;
	margin: 0px 0 8px 5px;
	box-sizing: border-box
}

#logo{
	border: black 3px solid;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
	.grid-container{
		display: grid;
		grid-template-rows: auto auto auto;
		height: 80%;
		left: 10%;
		justify-content: center;
		gap: 1em;
		position: static;
	}
	
	#object1{
		grid-row: 1/2;
		width: 100%;
		height: 100%;
		object-fit:fill;
		
	}
	
	#object2{
		grid-row: 2/3;
		width: 100%;
		height: 100%;
		text-align: center;
		line-height: .5;
	
	}
	
	#object3{
		grid-row: 3/4;
		text-align: center;
		
	}
}

@media screen and (min-width:600px) {
	.grid-container{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4,1fr);
		height: 80%;
		position: static;
	}
	
	#object1{
		grid-column: 2/4;
		grid-row: 1/3;
		max-width: 100%;
		max-height: 100%;
		text-align: center;
	}
	
	#object2{
		grid-column: 1/3;
		grid-row: 3/5;
		width: 100%;
		height: 100%;
		text-align: center;
		line-height: 0;
	}
	
	#object3{
		grid-column: 3/5;
		grid-row: 3/5;
		text-align: center;
		line-height: 0;
	}
	
}
