
A:link {color: grey}
A:visited, A:active {color: green}
A:hover {text-decoration: overline; color: darkgreen}
	
Body {
	background-color: white;
	font-family: cambria;
	color: black	
}

H1 {font-size: 50pt; text-align: center}
H2 {font-size: 25pt; text-align: center}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; font-family: monospace; color: black;}

Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	background-color: darkslategrey;
	margin: .8em;
	border-color: darkgreen}


Form {
	font-family: monospace; 
	text-align: left; 
	color: white; 
	background-color: #333;
	width: 100%;
}
Nav{
	overflow: hidden;
	background-color: black;
	position: sticky;
	width:100%;
	top: 0;
}

A.navlink{
	float: left;
	display: block;
	padding: 5px 5px;
	color: white;
	text-align: center;
	font-size: 3vw;
}

Img{
	margin: 0;
	border-color: #333;
	border-width: .5em;
	border-style: solid;
	border-radius: 1em;
}

input[type=text]{
	width: 98%;
	padding: 12px 20px;
	margin: 0px 0 8px 5px;
	box-sizing: border-box;
}

