
A:link {color: white}
A:visited, A:active {color: green}
A:hover {text-decoration: overline; color: darkgreen}
	
Body {
	background-color: white;
	font-family: cambria;
	color: black;
	background-image: linear-gradient(to right, lightslategrey, lightgreen );
}

H1 {font-size: 50pt; text-align: center}
H2 {font-size: 25pt; text-align: center}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; 
	font-family: monospace; 
	color: black;
	padding: 1em;}

Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	margin: .8em;
	border-color: white;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	position: static;
	}


Form {
	font-family: monospace; 
	text-align: left; 
	color: white; 
	background-color: #333;
	width: 100%;
	text-align: center
	}

Nav{
	overflow: hidden;
	background-color: black;
	position: sticky;
	width:100%;
	top: 0
}

A.navlink{
	float: left;
	display: block;
	padding: 5px 5px;
	color: white;
	text-align: center;
	font-size: 3vw
}

Img{
	margin: 0;
	max-width: 75%;
	height: auto;
	padding: .5em;
	border-color: white;
	border-width: .5em;
	border-style: solid;
	border-radius: 1em
}

input[type=text]{
	width: 98%;
	padding: 12px 20px;
	margin: 0px 0 8px 5px;
	box-sizing: border-box
}

img#logo{
	position: static; /* or absolute */
	top: 50%;
	left: 50%;
}

