
A:link {color: grey}
A:visited, A:active {color: green}
A:hover {text-decoration: overline; color: darkgreen}
	
Body {
	background-color: white;
	font-family: cambria;
	color: black	
}

H1 {font-size: 50pt; text-align: center}
H2 {font-size: 25pt; text-align: center}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; font-family: monospace}

Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	background-color: darkslategrey;
	margin: .8em;
	border-color: darkgreen}


Form {
	font-family: monospace; 
	text-align: center; 
	color: white; 
	background-color: #333;
	border-color: black;
	border-width: .5em;
	border-style: solid;
	padding: 1em;
}


form{
	text-align: center;
}

@media only screen and (max-width: 600px){
	Nav{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: black;
		position: sticky;
		width:600px;
		top: 0;
	}

	A.navlink{
		float: left;
		display: block;
		padding: 5px 5px;
		color: white;
		text-align: center;
		font-size: 20px;
	}

	Img{
		border-radius: 1em;
		border-color: black;
		border-width: .5em;
		border-style: solid;
		padding: .5em;
		margin: 0;
		object-fit: scale-down;
	}
	Form{
		width: 100%;
	}
}

